@font-face {
  font-family: "DMSans";
  src: url(./font/DMSans-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: "DMSans";
  src: url(./font/DMSans-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "DMSans";
  src: url(./font/DMSans-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "DMSans";
  src: url(./font/DMSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "DMSans";
  src: url(./font/DMSans-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "DMSans";
  src: url(./font/DMSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "DMSans";
  src: url(./font/DMSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "DMSans";
  src: url(./font/DMSans-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "DMSans";
  src: url(./font/DMSans-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: "DMSans";
  src: url(./font/DMSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "DMSans";
  src: url(./font/DMSans-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "DMSans";
  src: url(./font/DMSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "DMSans";
  src: url(./font/DMSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "DMSans";
  src: url(./font/DMSans-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "DMSans";
  src: url(./font/DMSans-Black.ttf);
  font-weight: 900;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "DMSans", sans-serif;
  background: #010101;
  color: #f2f2f2;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
::-webkit-scrollbar {
  width: 10px;
  display: none;
}

::-webkit-scrollbar-track {
  background: black;
}

.main {
  max-width: 95%;
  margin: auto;
  padding: 60px 0;
  width: 1360px;
}

.account {
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid #00d7ca;
  padding: 10px 16px;
  cursor: pointer;
}

.button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #00d7ca;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #001c1b;
  cursor: pointer;
  min-width: 198px;
  border: 0.5px solid #fffefe00;

  &.height {
    height: 53px;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

  &:hover {
    opacity: 0.8;
  }

  &.soon {
    &:hover {
      background: gray;

      .show {
        display: none;
      }

      .hide {
        display: block;
      }
    }
  }

  &.disable {
    background: #0c0c0c;
    color: gray;
  }

  &.rightAngle {
    border-radius: 0;
  }

  &.noactive {
    color: #bdbdbd;
    border: 0.5px solid #333;
    background: none;
  }
}

.font_20 {
  color: #f2f2f2;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.4px;
}

.font_16 {
  color: #f2f2f2;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.font_14 {
  color: #f2f2f2;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 228.571% */
  letter-spacing: -0.28px;
}

.font_12_gray {
  color: #828282;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.font_12_73 {
  color: #737373;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.underline {
  text-decoration-line: underline;
  margin-top: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.gray {
  color: #bdbdbd;
}

.green {
  color: #00d7ca;
}

.font_12_700 {
  font-size: 12px;
  font-weight: 700;
  line-height: 26px;
}

.inputTxt {
  border: 1px solid #333;
  background: #0c0c0c;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  height: 40px;
  padding: 8px 12px;
  justify-content: space-between;
  align-items: center;

  input {
    background: #fff0;
    border: none;
    color: #fff;
    font-family: "DMSans";
    width: 100%;
  }

  input:focus {
    outline: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  ::-webkit-input-placeholder {
    color: #d4d4d4;
  }

  ::-moz-placeholder {
    color: #d4d4d4;
  }

  :-ms-input-placeholder {
    color: #d4d4d4;
  }

  input:-moz-placeholder {
    color: #d4d4d4;
  }
}

.inputTxt2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  background: #0c0c0c;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 8px;

  input {
    background: #fff0;
    border: none;
    font-family: "DMSans";
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
  }

  input:focus {
    outline: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  ::-webkit-input-placeholder {
    color: #d4d4d4;
  }

  ::-moz-placeholder {
    color: #d4d4d4;
  }

  :-ms-input-placeholder {
    color: #d4d4d4;
  }

  input:-moz-placeholder {
    color: #d4d4d4;
  }
}

.inputTxt3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 8px 0;

  input {
    background: #fff0;
    border: none;
    font-family: "DMSans";
    width: 100%;
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;
    color: #fff;
  }

  span {
    color: #828282;
    font-weight: 800;
    font-size: 16px;
  }

  input:focus {
    outline: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  ::-webkit-input-placeholder {
    color: #d4d4d4;
  }

  ::-moz-placeholder {
    color: #d4d4d4;
  }

  :-ms-input-placeholder {
    color: #d4d4d4;
  }

  input:-moz-placeholder {
    color: #d4d4d4;
  }
}

input[type="radio"]::before {
  position: relative;
  content: "";
  top: -1px;
  left: -1px;
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #00d7ca;
}

input[type="radio"]:checked::after {
  position: relative;
  content: "";
  bottom: 15px;
  left: 5px;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  visibility: visible;
  background-color: #00d7ca;
}

.changeBalance {
  background: #292525;
  display: flex;
  justify-content: space-around;

  span {
    border-right: 1px solid #333;
    width: 25%;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 5px 0;
    color: #bdbdbd;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }
}

.tooltipMain {
  display: flex;
  justify-content: center;

  .tooltip {
    position: absolute;
    margin-top: 30px;
    font-size: 12px;
    background: gray;
    padding: 5px;
    z-index: 1;
    border-radius: 5px;
    display: none;
  }

  &:hover {
    .tooltip {
      display: block;
    }
  }
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-main {
  position: absolute;
  top: 25%;
  right: calc(100% + 10px);
  transform: translateY(-50%);
  padding: 10px;
  background-color: #181818;
  color: #fff;
  border-radius: 8px;
  display: none;
  /* white-space: nowrap; */
  font-size: 12px;
  min-width: 200px;
  z-index: 20;
}

.tooltip-main::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #181818;
}

.tooltip-container:hover .tooltip-main {
  display: block;
}

/* 基本样式 */
.menu-container {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  left: 0;
  background-color: #181818;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  border-radius: 5px;
  left: -6%;

  a {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0 15px;
    margin: 5px 0;
    justify-content: left;
    font-size: 12px;
    width: 210px;

    &:hover {
      opacity: 0.5;
    }

    img {
      width: 18px;
    }
  }
}

.menu-container:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.space_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  position: fixed;
  // right: 5%;
  top: 80px;
  min-width: 300px;
  max-width: 95%;
  cursor: pointer;
  z-index: 99999999;

  .error {
    // background: #fff;
    // border: 2px solid #812E1B;
    // color: #812E1B;
  }

  .success {
    // background: #fff;
    // border: 2px solid #00D7CA;
    // color: #00D7CA;
  }
}

.message > div {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.15px;
  color: #24292f;
  border-radius: 6px;
  padding: 15px;
  font-weight: 600;
  border: 1px solid #333;
  backdrop-filter: blur(20px);
  background: #1a1a1a;
  color: #fff;
}

.h5Show {
  display: none;
}

.h5None {
  display: block;
}

.dappBg {
  // background: url('../public/dapp/bg.jpg');
  // background-size: 100% 100%;
  // background-repeat: no-repeat;
}

.dappMain {
  max-width: 95%;
  margin: auto;
  padding: 56px 0 56px;
  width: 480px;
  min-height: calc(100vh - 72px - 228px);
}

.dappMain2 {
  max-width: 95%;
  margin: auto;
  padding: 56px 0 56px;
  width: 1065px;
  min-height: calc(100vh - 72px - 228px);
}

.dappMain3 {
  max-width: 95%;
  margin: auto;
  padding: 56px 0 56px;
  width: 688px;
  min-height: calc(100vh - 72px - 228px);
}

.accountCenter {
  display: none;
}

.balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;

  p {
    color: #bdbdbd;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  span {
    color: #bdbdbd;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
  }
}

.button_border {
  border-radius: 6px;
  border: 1px solid #00d7ca;
  color: #f2f2f2;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  padding: 10px;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &.disable {
    border-radius: 4px;
    border: 1px solid #333;
    background: #0c0c0c;
    color: gray;
  }
}

.button_Mini {
  border: 1px solid #333;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  color: #bdbdbd;

  &:hover {
    opacity: 0.9;
  }

  &.active {
    background: #00d7ca;
    color: #f2f2f2;
  }
}

.promptBox {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(12, 12, 12, 0.9);
  z-index: 3;

  .boxMain {
    width: 480px;
    max-width: 95%;
    border: 1px solid #333;
    background: #0c0c0ce5;
    padding: 20px;

    .boxInfo {
      font-size: 16px;
      font-weight: 700;
      line-height: 28px;
      margin: 30px 10px;
    }
  }

  .close {
    display: flex;
    justify-content: flex-end;

    img {
      width: 30px;
      cursor: pointer;
    }
  }
}

.infoTip {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(12, 12, 12, 0.9);
  z-index: 3;

  .info {
    width: 480px;
    max-width: 95%;
    border: 1px solid #333;
    background: #0c0c0ce5;
    padding: 20px;

    .close {
      display: flex;
      justify-content: flex-end;

      img {
        width: 30px;
        cursor: pointer;
      }
    }

    .title {
      font-size: 18px;
      font-weight: 700;
      line-height: 32px;
      margin: 30px 10px 40px;
    }

    .infoTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .vUSD {
        width: 48px;
      }

      div {
        display: flex;
        gap: 10px;
        align-items: center;

        p {
          width: 100%;
          font-size: 20px;
          font-weight: 600;
        }
      }
    }

    &.infoNoPadding {
      padding: 0;

      .infoTitle {
        padding: 20px;
      }
    }

    .data {
      padding: 12px 16px;
      border-top: 1px solid #333;

      .dataItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;

        p {
          color: #bdbdbd;
          font-size: 14px;
          font-weight: 500;
        }

        span {
          color: #bdbdbd;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
}

.h5user {
  display: none;
}

.tvl {
  font-size: 14px;
  letter-spacing: 1px;
  color: #00d7ca;
}

@media screen and (max-width: 798px) {
  .h5user {
    display: flex;
    padding: 16px;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;

    .account {
      display: flex;
      align-items: center;
    }
  }

  .h5Show {
    display: block;
  }

  .h5None {
    display: none;
  }

  .tooltip-main {
    position: absolute;
    top: 58%;
    left: -50%;
    /* transform: translateY(-50%); */
    padding: 10px;
    background-color: #181818;
    color: #fff;
    border-radius: 8px;
    display: none;
    /* white-space: nowrap; */
    font-size: 12px;
    min-width: 200px;
    z-index: 20;
    right: 0;
    transform: none;
  }

  .tooltip-main::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateY(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #181818 transparent;
    right: initial;
  }

  .button {
    min-width: auto;
  }

  .dappMain {
    padding: 12px 0 30px;
  }

  .dappMain2 {
    padding: 30px 0 30px;
  }

  .dappMain3 {
    padding: 30px 0;
  }
}
